version: "3.9"

services:

  steedos:
    image: steedos/steedos-enterprise:3.0.0-beta.71
    ports:
      - "5100:80"    # Steedos
      - "6379:6379"    # Redis
    env_file:
      - .env
      - .env.local
    volumes:
      - "./steedos-storage:/steedos-storage"
